.header__lang-link {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.header__lang-link:first-child {
  text-decoration: underline;
  padding-right: 18px;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
  }
}
