.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto;
  max-width: 1184px;
  padding: 0 48px;
}




@media screen and (max-width: 800px) {
  .photo-grid {
    padding: 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .photo-grid {
    padding: 0 16px;
     gap: 12px;
  }
}
