.lead__image {
  position: relative;
  margin: 0;
  min-height: 300px;
}

/* Установлена минимальная высота для того, чтобы в случае недоступности картинки, абсолютная картинка пути не залезала на блок снизу */

@media screen and (max-width: 720px) {
  .lead__image {
    min-height: 200px;
  }
}
