.intro {
  max-width: 980px;
  padding: 92px 0;
  margin: auto;
}



@media screen and (max-width: 1080px) {
  .intro {
    padding: 92px 0 92px 48px;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 88px 0 88px 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    padding: 64px 0 64px 16px;
  }
}
