.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 32px;
    max-width: 255px;
    margin: auto;
  }
}
